include README.md
include LICENSE
include docker-compose.yml
include .env.example
recursive-include config *.yaml *.json
recursive-include docs *.md
recursive-include examples *.py *.md *.json
recursive-include tests *.py
